*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 50px 40px 10px;
}

table {
    width: 100%;
}

table.bordered td {
    border: 1px solid #000000;
    padding: 2px 4px;
}

table.unbordered td {
    border: none;
}

/*

    Typography

                */

.font-bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.font-black {
    font-weight: 900;
}

.text-white {
    color: #ffffff;
}

.leading-normal {
    line-height: 1.5;
}

.underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*

    Display

                */

.inline-block {
    display: inline-block;
}

/*

    Margin

                */
.m-0 {
    margin: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

/*

    Padding

                */

.p-0 {
    padding: 0 !important;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pt-4 {
    padding-top: 4px;
}

.pt-8 {
    padding-top: 8px;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pl-4 {
    padding-left: 4px;
}

.pl-8 {
    padding-left: 8px;
}

/*

    BACKGROUND

                */

.bg-blue {
    background-color: #f1f3ff;
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #e6e7e9;
}

/*

    BORDER

                */

.border-none {
    border: none !important;
}

.border-top {
    border-top: 1px solid #000000;
}

.border-bottom {
    border-bottom: 1px solid #000000;
}

.border-right {
    border-right: 1px solid #000000;
}

.border-left {
    border-left: 1px solid #000000;
}

.border-radius-top {
    border-radius: 8px 8px 0 0;
}

/*

    Vertical align

                */

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}